.login-container {
  display: flex;
  flex-direction: column;

  max-width: 50% !important;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.562);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.g-btn {
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #b11818, #2b6eff);
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  box-shadow: 2px 5px 5px rgba(19, 19, 19, 0.548);
}
.regi-btn {
  box-shadow: 2px 5px 5px rgba(19, 19, 19, 0.548);
}

.reco-text {
  border-top: 1px solid aqua;
  border-bottom: 1px solid aqua;
}
