.details-container {
  box-shadow: 1px 2px 10px black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
}
.s-details-btn {
  background-color: rgb(25, 66, 63);
  padding: 10px 30px !important;
  border: 3px solid aqua;
}
.book-service-form-container form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.book-service-form-container > form input,
textarea {
  box-shadow: 1px 2px 5px rgb(0, 0, 0) !important;
  padding: 5px;
  border-radius: 4px;

  width: 100%;
  margin-bottom: 10px;
}
