.add-service-container {
  padding-top: 50px;
  height: 65vh;
}
.add-service-container h2 {
  text-align: center;
  padding-bottom: 10px;
  color: rgb(85, 255, 255);
  text-shadow: 1px 2px 3px black;
}

.add-service-container form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.add-service-container form input,
textarea {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid rgb(67, 255, 246);
  width: 50%;
  margin-bottom: 10px;
}
.add-service-submit {
  width: 30% !important;
  background-color: rgba(0, 0, 0, 0.164);
  color: white;

  transition: 0.5s;
}
.add-service-submit:hover {
  background-color: rgb(0, 105, 131);

  transition: 0.3s;
}
